.checkout {
  display: flex;
  padding: 20px;
  height: max-content;
}

.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout__title {
  margin-right: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  color: #0f1111;
}
