.header {
  height: 60px;
  min-width: 600px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header a {
  text-decoration: none;
}

.header__logo {
  width: 97px;
  height: 35px;
  padding: 8px 9px 6px 12px !important;
  object-fit: contain;
  margin-top: auto;
  margin-left: 4px;
}

.header__search {
  margin: 0 15px 0 9px;
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 4px;
}

.header__search:focus-within {
  box-shadow: 0 0 0 2px #f90, 0 0 0 3px rgba(255, 153, 0, 0.5);
  z-index: 1;
}

.header__searchInput {
  height: 18px;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  width: 100%;
  min-width: 100px;
  outline: none;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 15px;
  line-height: 15px;
}

.header__searchIcon {
  padding: 6px;
  height: 26px !important;
  background-color: #febd69;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.header__searchIcon:hover {
  background-color: #f3a847;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  color: white;
  border: 1px solid;
  border-radius: 2px;
  border-color: #131921;
  padding: 10px 9px;
}

.header__option:hover {
  border-color: #fff;
}

.header__optionLineOne {
  font-size: 11px;
}

.header__optionLineTwo {
  font-size: 14px;
  font-weight: 800;
}

.header__optionCart {
  display: flex;
  margin-right: 4px;
  flex-direction: row;
  height: 30px;
  align-items: center;
  color: white;
}

.header__cartCount {
  margin: auto 10px auto 6px;
  color: #f08804;
  font-size: 15px;
}
